@model IEnumerable<NegoShoeTracker.Library.PurchaseDTO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MerchantID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInUSD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInPeso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MerchantID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalInUSD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalInPeso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
